@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
    --color-bg: gray;
    --primary-bg: #f2f2f2;
}
html{
    min-height: 100vh;
}
body{
    display: block;
    margin:0;
    min-height: 100%;
    width: 100vw;

    background-color: white;
}
main{
    display: block;
    margin:0 auto;
    width: 767px;
    min-height: 100vh;

    border: 2px solid gray;
    border-width: 0 2px;

    background-color: white;
}
header{
    --margin-height:300px;
    height: var(--margin-height);

    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-bg);

    /*テキスト*/
    font-size: calc( var(--margin-height) / 4);
    font-family: 'Quicksand', sans-serif;
}
header img{
    height:50%;
    margin:calc( var(--margin-height) / 4);
    margin-left:0;
}

h1{
    padding: 10px;
    border-bottom: 1px solid var(--color-bg);
    height: 40px;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
}
#content div{
    margin: 10px;
    font-family: sans-serif;
}
@media screen and (max-width: 767px) {
    main{
        width: 100%;
        border: none;
    }
    header{
        /*Flex*/
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /*テキスト*/
        font-size: calc( var(--margin-height) / 6);
    }
    header img{
        margin: 0;
    }
}