@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
* {
    --color-bg: rgba(128, 128, 128,1);
    --color-bg-opacity: rgba(128,128,128,0);
    --primary-bg: #f2f2f2;
    --secondary-bg: rgb(202, 202, 202);
}

html {
    min-height: 100vh;
}

body {
    display: block;
    margin: 0;
    min-height: 100%;
    width: 100%;
    background-color: white;
    font-family: sans-serif;
}

main {
    display: block;
    margin: 0 auto;
    width: 767px;
    min-height: 100vh;
    border: 2px solid gray;
    border-width: 0 2px;
    background-color: white;
}

header {
    --margin-height: 300px;
    height: var(--margin-height);
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bg);
    /*テキスト*/
    font-size: calc( var(--margin-height) / 4);
    font-family: 'Quicksand', sans-serif;
}

header img {
    height: 50%;
    margin: calc( var(--margin-height) / 4);
    margin-left: 0;
}

h1 {
    padding: 10px;
    border-bottom: 1px solid var(--color-bg);
    height: 40px;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
}

p,
.text {
    line-height: 1.2em;
}

.content div {
    margin: 10px;
    font-family: sans-serif;
}
/*Languages*/
#lang-items div{
    margin: 0px;
}
.lang-item{
    border: 1px solid var(--secondary-bg);
    border-radius: 5px;
    margin-bottom:5px !important;
}
.lang-item-header{
    border-radius: 3px;
    background-color: var(--secondary-bg);
    display:flex;
    align-items: center;
}
.lang-item-header h2{
    margin:0px;
    padding: 5px;
    font-size: 1.3em;
    width:50%;
    font-family: 'Quicksand', sans-serif;
}
.lang-item .description{
    margin: 10px !important;
}
.lang-bar-fill{
    margin: auto 0;
    background: linear-gradient(to right,green,yellowgreen);
    border-radius: 3px;
    height: 10px;
}
.lang-item-header .lang-bar{
    display: flex;
    width: 45%;
    height: 10px;
    background: white;
    border-radius: 3px;

    align-items: center;
    justify-content: flex-start;
}
/*End Languages*/

/*リスト始 参考: https://tackweb.net/index.php/2020/04/27/profile_portfolio/ */

#timeline {
    padding-top: 10px;
}

#timeline * {
    box-sizing: border-box;
}

#timeline h1 {
    font-size: 36px;
    margin: 0 0 30px;
    padding: 10px;
    font-weight: bold;
}

#timeline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#timeline dt {
    text-align: right;
    width: 8.5em;
    padding: 0.5em 1.0em 0.5em 0.5em;
    position: relative;
}

#timeline dd h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 5px;
}

#timeline dd {
    width: calc(100% - 8.5em);
    padding: 0.3em 2.0em 0.8em;
    border-left: 2px solid #ccc;
}

#timeline dt::after {
    content: '●';
    position: absolute;
    right: -0.55em;
    top: 5px;
    font-size: 22px;
    color: green;
}

@media screen and (max-width: 767px) {
    #timeline {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #timeline dt {
        text-align: left;
        width: auto;
    }
    #timeline dt::before {
        padding-right: 0.5em;
        content: '●';
        color: green;
    }
    #timeline dt::after {
        display: none;
    }
    #timeline dd {
        margin-left: calc( 1em - 1px);
        margin-bottom: 10px;
        padding: 0.5em;
        width: calc(100% - ( 1em + 1px));
    }
}


/*リスト終*/

@media screen and (max-width: 767px) {
    main {
        width: 100%;
        border: none;
    }
    header {
        /*Flex*/
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*テキスト*/
        font-size: calc( var(--margin-height) / 6);
    }
    header img {
        margin: 0;
    }
}